﻿@page "{movieId:int}"

@model TestGitFlow.Pages.DetailModel

@{
    ViewData["Title"] = "Detail";
}



@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-info">@Model.Message</div>
}

<div class="row">
    <div class="col-md-3">
        <img class="img-fluid" src="@Model.Movie.PosterUrl" />
    </div>
    <div class="col-md-9">
        <div class="card w-75">
            <div class="card-header bg-dark text-white">
                <h3>@Model.Movie.Name</h3>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Genre:</strong> @Model.Movie.Genre</li>
                <li class="list-group-item"><strong>Rating:</strong> @Model.Movie.Rating</li>
            </ul>
        </div>
    </div>
</div>

<hr />

<a class="btn btn-outline-primary" asp-page="./Index">All Movies</a>