﻿@page "{movieId:int?}"

@model TestGitFlow.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Editing @Model.Movie.Name</h2>

<form method="post">
    <input type="hidden" asp-for="Movie.Id" />

    <div class="form-group">
        <label asp-for="Movie.Name"></label>
        <input class="form-control" asp-for="Movie.Name" />
        <span class="text-danger" asp-validation-for="Movie.Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Movie.Rating"></label>
        <input class="form-control" asp-for="Movie.Rating" />
        <span class="text-danger" asp-validation-for="Movie.Rating"></span>
    </div>
    <div class="form-group">
        <label asp-for="Movie.Genre"></label>
        <select class="form-control" asp-for="Movie.Genre" asp-items="Model.Genres"></select>
        <span class="text-danger" asp-validation-for="Movie.Genre"></span>
    </div>
    <div class="form-group">
        <label asp-for="Movie.PosterUrl"></label>
        <input class="form-control" asp-for="Movie.PosterUrl" />
        <span class="text-danger" asp-validation-for="Movie.PosterUrl"></span>
    </div>

    <button type="submit" class="btn btn-outline-success">Save</button>
    <a class="btn btn-outline-danger" asp-page="./Index">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}