﻿@page

@model IndexModel

@{
    ViewData["Title"] = "Home page";
}


<div class="row">
    <h1>Movies</h1>

    <table class="table table-striped table-responsive">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Genre</th>
                <th scope="col">Rated</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model.movies)
            {
            <tr>
                <td>@movie.Name</td>
                <td>@movie.Genre</td>
                <td>@movie.Rating</td>
                <td>
                    <a class="btn btn-md" asp-page="./Detail" asp-route-movieId="@movie.Id">
                        <i class="bi bi-search" title="View details"></i>
                    </a>
                    <a class="btn btn-md" asp-page="./Edit" asp-route-movieId="@movie.Id">
                        <i class="bi bi-pencil" title="Edit information"></i>
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <br />
    <a class="btn btn-outline-success" asp-page="./Edit">Add New</a>
</div>