﻿@page

@model TestGitFlow.Pages.NotFoundModel

@{
    ViewData["Title"] = "Not Found";
}

<h2>Your restaurant was not found</h2>

<a class="btn btn-outline-primary" asp-page="./Index">See all movies</a>